@model WebAppForAPITest.Models.StudentModel

<br />
<br />
<table class="table">
    <tdead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>

        </tr>
    </tdead>
    <tbody>

            <tr>
                <td>@Model.StudentId</td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>

            </tr>
        
    </tbody>
</table>
</div>